html {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  font: 400 15px/1.5 'Montserrat', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  position: relative;
  height: 100%;
  text-align: center;
  min-width: $XS;
  background-color: #8a0202;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: .5em 0;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

hr {
  border: solid rgba(#000,.3);
  border-width: 1px 0 0;
  margin: 1em 0;
}
