@use '@/assets/scss/coriolanVariables' as *;
@use '@/assets/scss/coriolanMedia' as media;
@use '@/assets/scss/app-base';
@use '@/assets/scss/sentimony-ui';
@use '@/assets/scss/buttons';
@use '@/assets/scss/content';
@use '@/assets/scss/flex-sticky';
@use '@/assets/scss/iframe-size';
@use '@/assets/scss/item';
@use '@/assets/scss/list';
@use '@/assets/scss/main-menu-link';
@use '@/assets/scss/page';
@use '@/assets/scss/selection-color';
@use '@/assets/scss/swiper-restyle';
@use '@/assets/scss/title';
@use '@/assets/scss/v-img-restyle';

.__nuxt-error-page {
  position: relative !important;
}

html {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  position: relative;
  height: 100%;
  text-align: center;
  min-width: $XS;

  // RED BG
  // background-color: #8a0202;
  // background-image: url('https://content.sentimony.com/assets/img/backgrounds/sombrero-red.jpg?01');
  // background-image: url('https://content.sentimony.com/assets/img/backgrounds/sombrero-red_1x.jpg?01');
  // background-image: url('https://content.sentimony.com/assets/img/backgrounds/sombrero-red_2x.jpg?01');
  // background-image: url('https://firebasestorage.googleapis.com/v0/b/sentimony-db.appspot.com/o/backgrounds%2Ftrees-red_v1.jpg?alt=media&token=01b6ab9a-046c-407b-9bc9-747a0d3ace9a');

  // GREEN BG
  background-color: #144b15;
  // background-image: url('https://firebasestorage.googleapis.com/v0/b/sentimony-db.appspot.com/o/backgrounds%2Ftrees-green_v1.jpg?alt=media&token=ecd2f2d2-10d7-4516-8273-0d4f03dfc158');
  // background-image: url('https://firebasestorage.googleapis.com/v0/b/sentimony-db.appspot.com/o/backgrounds%2Ftrees-green_v2.jpg?alt=media&token=95104446-ad54-4466-a843-a57375302daa');
  // background-image: url('https://firebasestorage.googleapis.com/v0/b/sentimony-db.appspot.com/o/backgrounds%2Ftrees-green_v3.jpg?alt=media&token=bd3f81c9-0a77-4c8c-ae65-24d3f52c7470');
  // background-image: url('https://firebasestorage.googleapis.com/v0/b/sentimony-db.appspot.com/o/backgrounds%2Ftrees-green_v4.jpg?alt=media&token=1cacddcb-5144-4ba7-a970-d6142038bf69');
  // background-image: url('https://firebasestorage.googleapis.com/v0/b/sentimony-db.appspot.com/o/backgrounds%2Ftrees-green_v5.jpg?alt=media&token=b4e80e90-669c-42aa-b8b5-583f56d8de2e');
  // background-image: url('https://firebasestorage.googleapis.com/v0/b/sentimony-db.appspot.com/o/backgrounds%2Ftrees-green_v5.jpg?alt=media&token=b4e80e90-669c-42aa-b8b5-583f56d8de2e');
  background-image: url('https://content.sentimony.com/assets/img/backgrounds/trees-green_v5.jpg');
  // background-image: url('');
  // background-image: url('');
  // background-image: url('');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include media.media(M) {
    font-size: 15px;
    line-height: 1.5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0 0 0.3rem;

  @include media.media(M) {
    margin-bottom: 0.5rem;
  }
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
  font-size: 8px;
  line-height: 1;
}

iframe {
  width: 100%;
  display: block;
  border: none;
}

hr {
  border: solid rgba(#000, 0.3);
  border-width: 1px 0 0;
  margin: 1em 0;
}

small {
  opacity: 0.6;
}

// Sentimony UI
.sen-fs11 {
  font-size: 11px;
}

.sen-ml18 {
  margin-left: 18px;
}

.sen-db {
  display: block;
}

.small-info {
  font-size: 10px;
  color: rgba(#fff, 0.5);

  @include media.media(S) {
    font-size: 14px;
  }
}
