@import '../../node_modules/coriolan-ui/tools/variables';
@import 'variables';
@import '../../node_modules/coriolan-ui/mixins/media';
@import 'app-base';
@import 'sentimony-ui';
@import 'buttons';
@import 'content';
@import 'flex-sticky';
@import 'iframe-size';
@import 'item';
@import 'list';
@import 'main-menu-link';
@import 'page';
@import 'selection-color';
@import 'swiper-restyle';
@import 'title';
@import 'v-img-restyle';
// @import 'vue-tabs-restyle';

.__nuxt-error-page {
  position: relative !important;
}

html {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  position: relative;
  height: 100%;
  text-align: center;
  min-width: $XS;

  background-color: #8a0202;
  background-image: url('https://content.sentimony.com/assets/img/backgrounds/sombrero-red.jpg?01');
  background-image: url('https://content.sentimony.com/assets/img/backgrounds/sombrero-red_1x.jpg?01');
  background-image: url('https://content.sentimony.com/assets/img/backgrounds/sombrero-red_2x.jpg?01');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include media(M) {
    font-size: 15px;
    line-height: 1.5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0 0 .3rem;

  @include media(M) {
    margin-bottom: .5rem;
  }
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
  font-size: 8px;
  line-height: 1;
}

iframe {
  width: 100%;
  display: block;
  border: none;
}

hr {
  border: solid rgba(#000,.3);
  border-width: 1px 0 0;
  margin: 1em 0;
}

small {
  opacity: .6;
}

// Sentimony UI
.sen-fs11 {
  font-size: 11px;
}

.sen-ml18 {
  margin-left: 18px;
}

.sen-db {
  display: block;
}

.small-info {
  font-size: 10px;
  color: rgba(#fff,.5);

  @include media(S) {
    font-size: 14px;
  }
}

