@use 'coriolanVariables';
@use 'coriolanMedia' as media;

.content {
  text-align: left;
  // background-color: #fff;
  background-color: #e0ebe0;
  color: #000;
  position: relative;
  padding: 0.5em 0.6em;
  padding-bottom: 30px;

  @include media.media(M) {
    padding-bottom: 60px;
  }

  &__wrapper {
    max-width: 640px;
    position: relative;
    z-index: 40;
    margin: 0 auto;
    padding-top: 0.5em;

    @include media.media(L) {
      margin: 0 auto;
    }
  }

  a {
    color: #0046ff;
  }

  // ol {
  //   margin: 0;
  //   padding: 0 0 0 2em;
  // }

  // p {
  //   user-select: all;
  // }
}
