.content {
  text-align: left;
  background-color: #fff;
  color: #000;
  position: relative;
  padding: .5em .6em;

  &__wrapper {
    max-width: 640px;
    position: relative;
    z-index: 40;
    margin: 0 auto;
    padding-top: .5em;

    @include media(L) {
      margin: 0 auto;
    }
  }

  a {
    color: #0046ff;
  }

  // ol {
  //   margin: 0;
  //   padding: 0 0 0 2em;
  // }

  // p {
  //   user-select: all;
  // }
}
