@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/media';
@import 'variables';

.sentimony-iframe {
  box-shadow: $shadow;
  background-color: $colorBgBlack;
  overflow: hidden;
  border-radius: 6px;
}

.page-release__bandcamp-player-iframe {
  height: 276px;
  &.tracks-2 { height: 209px; }
  &.tracks-3 { height: 242px; }
  &.tracks-4 { height: 276px; }
  &.tracks-5 { height: 309px; }
  &.tracks-7 { height: 376px; }
  &.tracks-8 { height: 409px; }
  &.tracks-9 { height: 442px; }
  &.tracks-10 { height: 476px; }
  &.tracks-11 { height: 509px; }
  &.tracks-12 { height: 542px; }
  &.tracks-22 { height: 876px; }
  &.tracks-25 { height: 976px; }
  &.tracks-27 { height: 1042px; }
}

.page-release__soundcloud-player-iframe {
  height: 400px;
  &.tracks-2 { height: 320px; }
  &.tracks-3 { height: 360px; }
  &.tracks-4 { height: 400px; }
  &.tracks-5 { height: 430px; }
  &.tracks-7 { height: 500px; }
  &.tracks-8 { height: 530px; }
  &.tracks-9 { height: 560px; }
  &.tracks-10 { height: 590px; }
  &.tracks-11 { height: 620px; }
  &.tracks-12 { height: 650px; }
  // &.tracks-22 { height: 762px; }
  // &.tracks-25 { height: 855px; }
  // &.tracks-27 { height: 855px; }
}

.facebook-widget {
  border: none;
  overflow: hidden;
  margin: 0 auto;

  &--size-sm {
    // display: block;
    height: 98px;
    width: 287px;

    // @include media(M) {
    //   display: none;
    // }
  }

  &--size-md {
    // display: none;
    width: 500px;
    height: 130px;

    // @include media(M) {
    //   display: block;
    // }
  }
}
