@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/media';
@import 'variables';

.sentimony-iframe {
  box-shadow: $shadow;
  background-color: $colorBgBlack;
  overflow: hidden;
  border-radius: 6px;
}

.page-release__bandcamp-player-iframe {
  // transition: height .2s ease;

  &.tracks-2 {
    height: (209px + 25px);

    @include media(S) {
      height: 209px;
    }
  }

  &.tracks-3 {
    height: (241px + 25px);

    @include media(S) {
      height: 241px;
    }
  }

  &.tracks-4 {
    height: (274px + 25px);

    @include media(S) {
      height: 274px;
    }
  }

  &.tracks-5 {
    height: (307px + 25px);

    @include media(S) {
      height: 307px;
    }
  }

  &.tracks-7 {
    height: (373px + 25px);

    @include media(S) {
      height: 373px;
    }
  }

  &.tracks-8 {
    height: (406px + 25px);

    @include media(S) {
      height: 406px;
    }
  }

  &.tracks-9 {
    height: (439px + 25px);

    @include media(S) {
      height: 439px;
    }
  }

  &.tracks-10 {
    height: (472px + 25px);

    @include media(S) {
      height: 472px;
    }
  }

  &.tracks-11 {
    height: (505px + 25px);

    @include media(S) {
      height: 505px;
    }
  }

  &.tracks-12 {
    height: (538px + 25px);

    @include media(S) {
      height: 538px;
    }
  }

  &.tracks-22 {
    height: (868px + 25px);

    @include media(S) {
      height: 868px;
    }
  }

  &.tracks-25 {
    height: (967px + 25px);

    @include media(S) {
      height: 967px;
    }
  }

  &.tracks-27 {
    height: (1017px + 25px);

    @include media(S) {
      height: 1017px;
    }
  }
}

// .page-release__spotify-player-iframe {
//
//   &.tracks-4 {
//     height: 204px;
//   }
//
//   &.tracks-5 {
//     height: 235px;
//   }
//
//   &.tracks-7 {
//     height: 297px;
//   }
//
//   &.tracks-8 {
//     height: 328px;
//   }
//
//   &.tracks-9 {
//     height: 359px;
//   }
//
//   &.tracks-10 {
//     height: 390px;
//   }
//
//   &.tracks-11 {
//     height: 421px;
//   }
//
//   &.tracks-12 {
//     height: 452px;
//   }
//
//   &.tracks-22 {
//     height: 762px;
//   }
//
//   &.tracks-25 {
//     height: 855px;
//   }
// }

.page-release__soundcloud-player-iframe {
  // height: 450px;

  &.tracks-2 {
    height: 320px;
  }

  &.tracks-3 {
    height: 360px;
  }

  &.tracks-4 {
    height: 400px;
  }

  &.tracks-5 {
    height: 430px;
  }

  &.tracks-7 {
    height: 500px;
  }

  &.tracks-8 {
    height: 530px;
  }

  &.tracks-9 {
    height: 560px;
  }

  &.tracks-10 {
    height: 590px;
  }

  &.tracks-11 {
    height: 620px;
  }

  &.tracks-12 {
    height: 650px;
  }

  &.tracks-22 {
    // height: 762px;
  }

  &.tracks-25 {
    // height: 855px;
  }

  &.tracks-27 {
    // height: 855px;
  }
}
