@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/media';
@import 'variables';

.item {
  position: relative;
  width: 90px;
  box-sizing: border-box;
  padding: 0 3px;

  @include media(M) {
    width: 180px;
  }

  &__link {
  }

  &__wrapper {
    position: relative;
    border-radius: 8px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 4px;
    transition: background-color .2s ease-in-out;

    @include media(M) {
      width: 140px;
      height: 140px;
    }

    .item__link.is-selected &,
    .item__link:hover & {
      background-color: rgba(#fff,.3);
    }
  }

  &__cover {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: $colorBgBlack;
    box-shadow: $shadow;

    @include media(M) {
      width: 120px;
      height: 120px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
  }

  &__soon {
    color: rgba(#fff,.5);
    font-size: 8px;
    padding: .6em 1.2em;
    text-align: left;
    box-sizing: border-box;

    @include media(M) {
      font-size: 10px;
    }
  }

  &__status {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 8px;
    z-index: 40;
    padding: .2em .8em;
    border-radius: 0 8px 0 8px;

    @include media(M) {
      top: 0;
      right: 0;
      font-size: 10px;
    }

    &--green {
      @extend .item__status;
      background-color: #008b00;
    }

    &--red {
      @extend .item__status;
      background-color: #ef0000;
    }
  }

  &__title {
    color: #fff;
    font-size: 14px;
    display: none;

    @include media(M) {
      display: block;
    }
  }
}
