.main-menu-link {
  color: #fff;
  border-radius: 2px;
  transition: background-color .2s ease-in-out;
  margin-left: .2em;
  font-size: 16px;
  padding: 16px 16px*1.75;

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &.isSelected {
    background-color: rgba(#ccc, 0.4);
  }
}
