.mt-1 { margin-top: 4px; }
.mt-2 { margin-top: 8px; }
.mt-3 { margin-top: 12px; }
.mt-4 { margin-top: 16px; }

.mr-1 { margin-right: 4px; }
.mr-2 { margin-right: 8px; }
.mr-3 { margin-right: 12px; }
.mr-4 { margin-right: 16px; }

.px-1 { padding-left: 4px; padding-right: 4px; }

.py-1 { padding-top: 4px; padding-bottom: 4px; }

.sen-fs11 {
  font-size: 11px;
}

.sen-ml18 {
  margin-left: 18px;
}

.sen-db {
  display: block;
}

.small-info {
  font-size: 10px;
  color: rgba(#fff,.5);

  @include media(S) {
    font-size: 14px;
  }
}
