@use 'coriolanVariables';
// @use 'variables';
@use 'coriolanMedia' as media;

.mt-1 { margin-top: 4px; }
.mt-2 { margin-top: 8px; }
.mt-3 { margin-top: 12px; }
.mt-4 { margin-top: 16px; }

.mr-1 { margin-right: 4px; }
.mr-2 { margin-right: 8px; }
.mr-3 { margin-right: 12px; }
.mr-4 { margin-right: 16px; }

.px-1 { padding-left: 4px; padding-right: 4px; }
.px-2 { padding-left: 8px; padding-right: 8px; }
.px-3 { padding-left: 12px; padding-right: 12px; }
.px-4 { padding-left: 16px; padding-right: 16px; }

.py-1 { padding-top: 4px; padding-bottom: 4px; padding-left: 4px; padding-right: 4px; }
.py-2 { padding-top: 8px; padding-bottom: 8px; padding-left: 8px; padding-right: 8px; }
.py-3 { padding-top: 12px; padding-bottom: 12px; padding-left: 12px; padding-right: 12px; }
.py-4 { padding-top: 16px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; }

.pa-1 { padding-top: 4px; padding-bottom: 4px; padding-left: 4px; padding-right: 4px; }
.pa-2 { padding-top: 8px; padding-bottom: 8px; padding-left: 8px; padding-right: 8px; }
.pa-3 { padding-top: 12px; padding-bottom: 12px; padding-left: 16px; padding-right: 16px; }
.pa-4 { padding-top: 16px; padding-bottom: 16px; padding-left: 16px; padding-right: 16px; }

.rounded { border-radius: 4px; }
.rounded-lg { border-radius: 8px; }

.rounded-t { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.rounded-t-lg { border-top-left-radius: 8px; border-top-right-radius: 8px; }

.rounded-tr { border-top-right-radius: 4px; }
.rounded-tr-lg { border-top-right-radius: 8px; }

.rounded-b { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.rounded-b-lg { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }

.d-block { display: block; }
.d-flex { display: flex; }

.text-body-2 { font-size: 12px; }



// my own

.pointer {
  cursor: pointer;
}

.sen-fs11 {
  font-size: 11px;
}

.sen-ml18 {
  margin-left: 18px;
}

.sen-db { display: block; }
.sen-dn { display: none; }
.sen-o1 { opacity: 1; height: inherit; }
.sen-o0 { opacity: 0; height: 0; }

.small-info {
  font-size: 10px;
  color: rgba(#fff,.5);

  @include media.media(S) {
    font-size: 14px;
  }
}
