@use 'coriolanVariables';
@use 'coriolanMedia' as media;

.title {
  // text-align: left;
  max-width: 1270px;
  margin: .5em auto;
  font-size: 18px;
  // padding: 0 10px;
  box-sizing: border-box;

  @include media.media(M) {
    font-size: 32px;
  }
}
