@import 'buttons';

.vue-tabs {

  .nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;

    .tab {
      opacity: .5;
      transition: opacity .2s ease;
      margin-left: .4em;

      // @include media(L) {
      //   margin-left: .8em;
      // }

      &:first-child {
        margin-left: 0;
      }

      &:hover {
        opacity: .75;
      }

      &.active {
        opacity: 1;

        a {
          cursor: default;

          // .title {
          // }
        }
      }

      a {
        @extend .btn;
        border-radius: 6px 6px 0 0;
        border-width: 0;
        padding: 0 .8em;
        background-color: $colorBgLight;
        height: 2.5em;
        display: flex;
        align-items: center;

        @include media(L) {
          height: 3em;
        }

        i[class^="icon-"] {
          font-size: 20px;
          display: block;
        }

        .title {
          font-family: 'Montserrat', sans-serif;
          font-size: 0;
          padding: 0;

          @include media(L) {
            font-size: 12px;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  .tab-content {
    border-radius: 0 9px 9px 9px;
    background-color: $colorBgLight;
    padding: .4em;
    box-sizing: border-box;

    @include media(L) {
      padding: .8em;
    }
  }
}
